.simple {
	height: 100vh;
	z-index: 5;
	position: relative;
}
.container {
	position: absolute;
	z-index: 6;
	width: 1300px;
	left: 50%;
	transform: translateX(-50%);
}

.stories {
	-webkit-box-shadow: 0px 0px 28px 6px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 28px 6px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 28px 6px rgba(34, 60, 80, 0.2);
	padding: 2rem;
	margin-top: 5rem;
	background-color: #fff;
	color: #000;
	line-height: 30px;
	&__title {
		font-size: 1.7rem;
		padding-bottom: 2rem;
	}
}
.img {
	cursor: pointer;
	border-radius: 13px;
}
.swiper-container .swiper-button-prev::after,
.swiper-container .swiper-button-next::after {
	color: #fff;
	opacity: 0.4;
	font-size: 3rem;
	margin-right: 1.5rem;
}
