<header>
	<section class="home__patalax">
		<h1 id="port">Портфолио</h1>
		<p class="text__home">Перетащите элемент</p>

		<img src="../assets/images/gory_sneg_oblaka_87131_1920x1080-removebg.png" id="mountains">


		<button id="btn">
			Изучить
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</button>


	</section>
	<div class="wrap-menu">
		<nav class="menu">
			<ul>
				<li><a href="#" class="menu__item">Главная</a></li>
				<li>
					<a href="#" class="menu__item">Главная</a>
				</li>
				<li><a href="#" class="menu__item">Главная</a></li>
				<li><a href="#" class="menu__item">Главная</a></li>
				<li><a href="#" class="menu__item">Главная</a></li>
				<li><a href="#" class="menu__item">Главная</a></li>

				<a href="#" class="menu__close">
					<span class="menu__lines"></span>
				</a>
			</ul>

		</nav>
	</div>
	<div class="search">
		<div class="icon"></div>
		<div class="input">
			<input type="text" placeholder="Искать" id="input">
		</div>
		<span class="clear"></span>
	</div>

</header>